

/* REGISTER */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f6f8fc;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background: white;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 37px;
    font-weight: bold;
    color: #ff3131;
}

.search-box {
    display: flex;
    width: 40%;
}

.search-box input {
    width: 100%;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
}

.search-box button {
    padding: 10px 15px;
    border: 1px solid #000;
    background: #ddd;
    cursor: pointer;
}

.header-icons {
    display: flex;
    gap: 25px;
}

.icon {
    font-size: 20px;
}

.fa-shopping-cart {
    color: #7ffbff;
}

.fa-heart {
    color: #7ffbff;
}

/* NAV BAR */
.navbar {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.category-btn {
    padding: 10px 20px;
    background: #0db9c8;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 25px;
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.navbar ul li a:hover{
    color: #7ffbff;
}

.navbar ul li a i {
    font-size: 12px;
    margin-left: 3px;
    position: relative;
    top: -1px;
}

.menu-left {
    display: flex;
    list-style: none;
    gap: 25px;
    margin-left: 20px;
}

.menu-left a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.menu-right {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu-right a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 600;
}

.dropbtn {
    background: #7ffbff;
    color: #000;
    font-weight: 700;
    border: none;
    padding: 12px 28px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 17px;
    height: 48px;
    box-sizing: border-box;
    border-radius: 0;
}

.dropbtn:hover{
    cursor: pointer;
    background-color: #a3d4d5;
}

.dropbtn i {
    font-size: 14px;
    margin-left: 4px;
}


.dropdown {
    display: flex;
    align-items: center;
}

.form-container {
    width: 60%;
    margin: 40px auto;
    background: transparent;
}

.form-container h2 {
    color: #1e90ff;
    font-size: 28px;
    margin-bottom: 10px;
}

.form-container label {
    font-weight: bold;
    margin-top: 15px;
    display: block;
    color: #1e90ff;
}

.form-container input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #fff;
}

.gender {
    margin: 10px 0;
}

.gender label {
    margin-right: 20px;
}

.btn-submit {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #59ad48;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-submit:hover {
    background: #4b953d;
}

.label-gender {
    margin-bottom: 3px;
    display: block;
    color: #1e90ff;
    font-weight: bold;
    margin-top: 15px !important;
}

.gender-group {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: -13px !important;

}

.gender-group label {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: normal !important;
    color: #444;
}

.gender-group input[type="radio"] {
    margin: 0;
    transform: translateY(2px);
}

.btn-submit {
    width: 102%;
    background: #4caf50;
    color: #fff;
    padding: 14px 0;
    border: none;
    border-radius: 18px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: 0.25s;
}

.btn-submit:hover {
    background: #57a75c;
}

/* CART */

.out-right{
    display: flex;
    margin-right: 36px;
    padding-left: 86px;
}

.out-right:hover{
    cursor: pointer;
    color: #7ffbff;
}

.icon-exit{
    margin-left: 7px;
}

.header_contain{
    background-color: #eef0ff;
    height: 56px;
}

.header_contain h1{
    margin: 0;
    padding-left: 46%;
    color: #000;
    padding-top: 10px;
}

.cart_contain{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.info_cart-title{
    list-style: none;
    display: flex;
}

.cart_about li{
    background-color: #eef0ff;
    padding: 12px 20px;
}

.info_cart-frame{
    padding: 25px;
    border: 1px solid #ccc;
}

.price_cart{
    border: 1px solid #ccc;
}

.price_cart-discount{
    justify-content: space-around;
    display: flex;
}

.show_discount{
    margin-right: 194px;
    color: #ccc;
    padding: 14px;
}

.add_discount{
    padding: 14px;
    background-color: #7ffbff;
}

.add_discount a{
    text-decoration: none;
    color: #333;
}

.add_discount:hover{
    cursor: pointer;
    background-color: #a3d4d5;
}

.price_cart-info-header{
    margin: 0;
    background-color: #eef0ff;
    text-align: center;
    padding: 10px 0;
}

.cost_cart{
    margin: 20px 0;
}

.cost_cart-text{
    padding-right: 42px;
}

.cost_cart-child{
    padding: 10px 30px;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
}

.price_cart-footer{
    border-top: 1px solid #ccc;
}

.show_price{
    display: flex;
    font-size: 1.3em;
    justify-content: space-between;
    padding: 20px 28px;
}

.price_cart-footer{
    margin: 24px 0;
}

.button_buy{
    margin-top: 12px;
    margin-left: 17%;
    border: none;
    background-color: #7ffbff;
    padding: 0;
    width: 69%;
    font-size: 1.1rem;
}

.button_buy:hover{
    cursor: pointer;
    background-color: #a3d4d5;
}

